.Page {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 200px;
    height: 540px;
}

.footer{
    margin-top: 10px;
}

/*Pagina 1*/

.selectSize-container {
    max-width: fit-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
}

.selectSize {
    font-family: 'Roboto Condensed';
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    float: left;
}

.model-container {
    margin-bottom: 50px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Navigator{
    font-size: 150px;
    color: white;
    z-index: 1;
    
}

.preview     {
    position: absolute;
    left: 1%;
    bottom: 50%;
    background-color: #ccc;
    max-height: 18%;
    max-width: 10%;
    height: 56px;
    width: 84px;
    aspect-ratio: 1.5;
    border-radius: 50px;
    border-color: lightgray;
    box-shadow: 3px 3px 5px #777;
}

/*Pagina 2*/

.datos-contenedor {
    margin: 0px 150px;
}

.groupOfButton {
    margin-top: 20vh;
}

/*Pagina 3*/

.foot {
    margin-left: 50%;
    color: #888;
    font-size: 20px;
}

