.Page {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;   
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 200px;
    height: 540px;
}

.footer {
    margin-top: 10px;
}

/*Compra*/

.selectSize-container {
    max-width: fit-content;
    margin: auto;
    margin-top: 25px;
    display: flex;
}

.selectSize {
    font-family: 'Roboto Condensed';
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    float: left;
}

.model-container {
    margin-bottom: 50px;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Navigator {
    font-size: 150px;
    color: white;
    z-index: 1;

}

.Navigator:hover {
    color:blueviolet;
    font-size: 100px;
    animation-name: seleccion;
    animation-duration: 0.25s;
}

.Navigator:active {
    animation-name: clicked;
    animation-duration: 0.25s;
}

@keyframes clicked {
    from {
        left: 0px;
    }

    to {
        left: 25px;
    }
}

@keyframes seleccion {
    from {
        color: white;
        font-size: 150px;
    }

    to {
        font-size: 100px;
        color:blueviolet
    }

}


.preview {
    aspect-ratio: 3/2;
    max-height: 18%;
    max-width: 10%;

    background-color: #ccc;
    border-radius: 50px;
    border-color: lightgray;
    box-shadow: 3px 3px 5px #777;

    position: absolute;
    left: 1%;
    bottom: 50%;

}


/*Carro*/

.datos-contenedor {
    margin: 0px 150px;
    
}

.groupOfButton {
    margin-top: 20vh;
}

/*Facturación*/

.foot {
    margin-left: 50%;
    color: #888;
    font-size: 20px;
}