.boton{
    background-color:#fefefe;
    color: #383434;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    border-color: white;

    box-shadow: 0px 2px 2px lightgray;
    border-radius: 7px; 
    min-width: 100px;
    
}
