.boton{
    margin-bottom: 10px;
    margin-left: 10px;

    width: 200px;
    border-radius: 7px;
    
    background-color:#fefefe;
    border-color: lightgray;
    box-shadow: 0px 2px 2px #666;
    color: #383434;
    
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}



.boton:hover{
    background-color: blueviolet;
    color: #fefefe;
    
    box-shadow: 0px 2px 2px lightgray;
    
    cursor: pointer;
    
    animation-name: selected;
    animation-duration: 0.25s;
}



@keyframes selected{
    from{background-color:#fefefe;}
    to{background-color: blueviolet;}
}