.boton{
    background-color:#fefefe;
    color: #383434;
    font-weight: 200;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 10px;
    margin-bottom: 10px;    
    border-color: lightgray;
    width: 200px;
    box-shadow: 0px 2px 2px #666;
    border-radius: 7px; 
    
    
}

.boton:hover{
    background-color: #383434;
    color: #fefefe;
    box-shadow: 0px 2px 2px lightgray;
    cursor: pointer;
    animation-name: example;
    animation-duration: 1s;
}

@keyframes example{
    from{background-color:#fefefe;}
    to{background-color: #383434;}
}