.Registros{
        display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-start;
}

.Campo{
    height: 50px;
    
}

.etiqueta{
   color:white;
   font-size: 25px;
   text-shadow: 6px 6px 5px blueviolet;
   padding-right: 25px;
   font-family: RobotoCondensed;   
}

.entrada{
    box-shadow: 5px 5px 6px #666;
}

.buttonReg{
    background-color: blueviolet;
    color:white;
    min-height:50px;
    min-width: 100px;
    font-size: 35px;
    font-family: Satisfy;
}
