.Image-container1 {
    position: relative;
    max-height: 50vh;
    max-width: 25vw;
    display: flex;
    justify-content: center;
    margin: auto;
}

.Close {
    height: 90%;
    width: 100%
}

.Image-container2 {
    float: left;
    height: 15vh;
    width: 10vw;

}

.Image-container3 {
    height: 60vh;
    width: 50vw;
    margin: auto;
    background-color: black;
}


.cover {
    height: 100%;
    width: 50%;
    border-radius: 15%;
    margin: auto
    /* margin: 0 20%; */

}