.Image-container1{
    height:60vh;
    width: 30vw;
    margin: auto;
}

.Image-container2{
    float:left;
    height: 5vh;
    width: 2.5vw;
    background-color: blue;
}

.Image-container3{
    height:60vh;
    width: 50vw;
    margin: auto;
    background-color: black;
}


.preview{
    position: absolute;
    left:1%;
    top:50%;
    height: 8vh;
    width: 12vh;
    border-radius: 50px;
    border-color: white;
    box-shadow: 2px 2px 2px;

}
