.itemTitle {
    color: #383434;
    font-weight: 200;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: white;
}

.itemBuy {
    font-size: 25px;
}

.itemBuy::before {
    display: block;
}

.heading {
    /* color:white; */
    text-align: center;

}

.body {
    float: left;
    color: black;
    /* background-color: yellow; */
}

.Navigate {

    float: right;
}