
@font-face {
    font-family: Roboto;
    src: url('../assets/fonts/RobotoSlab-VariableFont_wght.ttf');
}
.buttonContainer {
    width: 500px;
    margin: auto;
    align-items: center;
}

.buttonPay {
    font-size: 18px;
    height: 6vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 2vh;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
}

.card {
    background-color: green;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.card:hover{
    background-color: aquamarine;
    color: #666;
}

.PayPal {
    background-color: orange;
    color: rgb(61, 52, 52)
}

.PayPal:hover{
    background-color: lightsalmon;
    color:aliceblue;
}


.Ipad {
    background-color: blue;
    color: aliceblue
}
.Ipad:hover{
    background-color: lightblue;
    color: #666;
}

.text1 {
    display: inline;
    padding-left: 5px;
}

.text2 {
    display: inline;
    font-weight: bolder;
}