@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.buttonContainer{
    width: 500px;
    margin:auto;
    place-content: center;
}
.card{
    background-color: green;
    color:white;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    height: 6vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 6vh;
}

.Paypal{
    background-color: orange;
    color:#666666;
    font-size: 18px;
    height: 6vh;
    width: 50%;
    /* align-items: center; */
    /* margin: auto;
    align-self: center; */
    /* margin:inherit; */
    /* margin:0px 125px; */
}