@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.buttonContainer {
    width: 500px;
    margin: auto;
    align-items: center;
}

.buttonPay {
    font-size: 18px;
    height: 6vh;
    width: 50%;
    margin-left: 25%;
    margin-top: 2vh;
    font-family: 'Roboto Slab', serif;
    justify-content: center;
}

.card {
    background-color: green;
    color: white;
    font-family: 'Roboto Slab', serif;
}

.PayPal {
    background-color: orange;
    color: rgb(61, 52, 52)
}

.Ipad {
    background-color: blue;
    color: aliceblue
}

.text1 {
    display: inline;
    padding-left: 5px;
}

.text2 {
    display: inline;
    font-weight: bolder;
}