@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.pt{

    display: inline;
    margin: 0px;
    position: relative;
    left: 3vw;
}
.amount{
    float: right;
    display: inline;
    position: relative;;
    right:50px;
    
    
    /* top: 0px; */
    margin: 0px;
}
.precio{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    margin: 0;
    position: relative;
    left: 3vw;
    /* position: absolute; */ 
    
   /*  right: 15%; */}
    