@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.pt{

    display: inline;
    margin: 0px;
    
    
}
.amount{
    float: right;
    display: inline;
    
    
    
    
    /* top: 0px; */
    margin: 0px;
}
.precio{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    margin: 0;
    }
    