@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.pt{

    display: inline;
    margin: 0px;
    
    
}
.amount{
    float: right;
    display: inline;
    margin: 0px;
}

.select{
    float:right;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    border-color:white;
    cursor:pointer;
}

.mas{
    background-color: #e3e3e3;
}

.menos{
    background-color: #f9f9f9;
}

.precio{
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
    margin: 0;
    }

    .Pay{
    display: inline;
    position: relative;
    left: 5%;
}

.Cancel{
    float:  right;
    position: relative;
    right: 5%;
    color: blue;
    margin: 0;
}
.Cancel::after{
    content: '';
    display: block;
    clear: both;
}

.Cancel:hover{
    color:#2266ff;
    cursor:pointer
}

