.arrow {
    width: 50px;
    height: 40px;
    box-shadow: 1px 2px 5px #666;
    border-radius: 5px;
    border-color: lightgray;
    font-size: 1.2em;
    color: #666;
    background-color: #fff;
}

.Avanzar {
    float: right;
}

.Retroceder {
    float: left;
}

.arrow:hover{
    color:#fff;
    font-size: 23px;
    font-weight: bold;
    background-color: #666;
}