.column{
    float: left;
    width: 33.33%;
    /* background-color: red; */
}
.encabezamiento{
    float:left;
    width: 25%;
}

.contenido{
    float: left;
    width: 50%;
}



.row::after{
    content: "";
    display: table;
    clear:both;
}