.Title {
    font-family: 'Dancing Script', cursive, sans-serif;
    font-size: 3em;
    color: blueviolet;
    margin:0px
}

.Title-container {
    max-width: fit-content;
    margin: auto;
    
}

.sub-Title {
    font-family: 'Lobster', cursive, Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 2px 0px #aea1a1;
    margin: 0px;
}

h3 {
    color: gray;

}